:root {
    --plano-fundo: #3F3351;
    --cabecalho-cor-fundo: #1F1D36;
    --cor-texto: #F6F6E9;
    --cor-texto-enfase: #E9A6A6;
    --fonte-primaria: 'Rajdhani', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: var(--plano-fundo);
    font-family: var(--fonte-primaria);
}

.container__cabecalho {
    background-color: var(--cabecalho-cor-fundo);
    padding: 1.5em 0;
}

.container__cabecalho__lista {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
}

.container__cabecalho__lista__itens {
    text-align: center;
    font-size: 1.5em;
    color: var(--cor-texto);
    text-decoration: none;
    padding: 0 2em;
}

.container__cabecalho__lista__itens:hover {
    font-weight: 500;
    color: var(--cor-texto-enfase);
}

.enfase-principal {
    font-weight: 700;
    text-transform: uppercase;
    color: var(--cor-texto);
    font-size: 70px;
    padding-bottom: 0.5em;
}

.texto-principal {
    color: var(--cor-texto);
    font-size: 36px;
}

.texto-principal-enfase {
    color: var(--cor-texto-enfase);
    font-size: 34px;
    padding-bottom: 1em;
}

.imagem-principal,
.container__apresentacao {
    width: 50%;
    height: auto;
}

.container__principal {
    text-align: center;
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    padding-top: 4em;
}

.imagem-principal img {
    width: 80%;
}

/*About me*/

.enfase-principal-about,
.enfase-about,
.texto-aboutme-div {
    padding-bottom: 0.5em;
}

.enfase-principal-about {
    color: var(--cor-texto);
    font-size: 51px;
    text-transform: uppercase;
}

.enfase-about {
    color: var(--cor-texto);
    font-size: 31px;
}

.texto-principal-about {
    color: var(--cor-texto);
    font-size: 28px;
}

.texto-aboutme-div {
    color: var(--cor-texto);
    display: block;
    margin-top: 10px;
}

.imagem-about {
    width: 50%;
    padding-top: 3em;
    height: auto;
}

.imagem-about img {
    width: 100%;
}

.texto-about {
    width: 50%;
    padding: 0 6em;
    height: auto;
}

/*Experiencias*/

.container__texto,
.container__imagem {
    width: 50%;
    padding-left: 3em;
}

.container__imagem img {
    width: 100%;
}

.titulo-experiencias,
.texto-experiencias {
    color: var(--cor-texto);
}

.titulo-experiencias {
    font-size: 44px;
    padding-bottom: 1em;
}

.texto-experiencias {
    font-size: 39px;
    padding-bottom: 1em;
}

.texto-enfase-expeciencias {
    font-size: 32px;
    font-weight: 700;
    color: var(--cor-texto-enfase);
}

/*Projects*/

.container__apresentacao,
.imagem-principal {
    width: 50%;
}

.container__texto__projects {
    font-size: 30px;
    color: var(--cor-texto);
    padding-bottom: 1em;
    text-align: center;
}

.container__icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.imagem-principal img {
    width: 80%;
}

.icons {
    width: 50px;
    height: 50px;
}

@media (max-width: 767px) {
    .container__cabecalho {
        padding: 1em 0;
    }

    .container__cabecalho__lista {
        justify-content: space-evenly;
    }

    .container__cabecalho__lista__itens {
        font-size: 12px;
        text-transform: uppercase;
        padding: 0;
    }

    .container__principal {
        display: block;
        padding-top: 2em;
    }

    .container__apresentacao {
        width: auto;
    }

    .imagem-principal {
        padding-top: 1em;
        width: auto;
    }

    .texto-principal,
    .texto-principal-enfase,
    .enfase-principal {
        padding: 0 1em;
    }

    .texto-principal,
    .texto-principal-enfase {
        font-size: 30px;
        padding-bottom: 0.5em;
    }

    .enfase-principal {
        padding: 0;
    }

    /*About me*/
    .enfase-principal-about,
    .texto-principal-about,
    .enfase-about {
        font-size: 20px;
    }

    .texto-about {
        padding: 0 1em;
    }

    /*Experience*/
    .container__imagem,
    .container__texto {
        width: auto;
        padding: 0;
    }

    .container__imagem {
        padding-top: 3em;
    }

    .titulo-experiencias {
        font-size: 30px;
        padding-bottom: 1em;
    }

    .texto-experiencias {
        font-size: 20px;
        padding: 0.5em 1em;
    }

    .texto-enfase-expeciencias {
        font-size: 25px;
    }

    /*Projects*/
    #imagem-principal-projetos {
        display: none;
    }

    .container__imagem__projects {
        width: auto;
    }

    .container__imagem__projects img {
        width: 100%;
    }

    .container__texto__projects {
        font-size: 20px;
        padding: 0.3em 0.5em;
    }

    .container__icons {
        padding-top: 2.5em;
    }

    .icons {
        width: 40px;
        height: auto;
    }

}

@media (min-width: 768px) and (max-width: 1180px) {
    .container__cabecalho {
        padding: 1em 0;
    }

    .container__cabecalho__lista {
        justify-content: space-evenly;
    }

    .container__cabecalho__lista__itens {
        font-size: 16px;
        text-transform: uppercase;
        padding: 0;
    }

    .container__principal {
        display: block;
    }

    .container__apresentacao {
        padding: 0 1em;
        width: auto;
    }

    .imagem-principal {
        padding-top: 2em;
        width: auto;
    }

    .imagem-principal img {
        width: 70%;
    }

    /*About*/
    .texto-about {
        padding: 0 1em;
    }

    /*Experience*/
    .container__texto {
        display: block;
        width: auto;
        padding: 0 2em;
    }

    .container__imagem {
        display: block;
        width: auto;
    }

    /*Projects*/
    #imagem-principal-projetos {
        display: none;
    }

    .container__imagem__projects {
        padding-bottom: 3em;
    }

    .container__icons {
        padding-top: 3em;
    }

}